[submodule "LinkedIn_company_employee_scrap"]
	path = LinkedIn_company_employee_scrap
	url = https://github.com/harivonyR/LinkedIn_company_employee_scrap
[submodule "Reddit_topic_scraper"]
	path = Reddit_topic_scraper
	url = https://github.com/harivonyR/Reddit_topic_scraper
[submodule "Sentiment_analysis_using_Google_search"]
	path = Sentiment_analysis_using_Google_search
	url = https://github.com/harivonyR/Sentiment_analysis_using_Google_search
[submodule "LeroyMerlyn_scraping"]
	path = LeroyMerlyn_scraping
	url = https://github.com/harivonyR/LeroyMerlyn_scraping
[submodule "LinkedIn_Lead_Generation"]
	path = LinkedIn_Lead_Generation
	url = https://github.com/harivonyR/LinkedIn_Lead_Generation
[submodule "Bulk_Email_Validator"]
	path = Bulk_Email_Validator
	url = https://github.com/harivonyR/Bulk_Email_Validator
